[build]
  base = "exampleSite"
  publish = "public"
  command = "hugo --gc"

[build.environment]
  HUGO_VERSION = "0.88.1"
  TZ = "America/Toronto"
#  GIT_LFS_ENABLED = 1
#  GIT_LFS_FETCH_INCLUDE = "*.jpg,*.png,*.jpeg,*.svg,*.gif,*.pdf,*.mp4,*.bmp,*.webp,*.ico"

[context.production]
  environment = { HUGO_BASEURL = "https://cupper-hugo-dfd-x.wildtechgarden.ca/" }

[context.deploy-preview]
  command = "hugo --gc ${DEPLOY_PRIME_URL:+-b $DEPLOY_PRIME_URL}"

[context.branch-deploy]
  command = "hugo --gc ${DEPLOY_PRIME_URL:+-b $DEPLOY_PRIME_URL}"

[[plugins]]
  package = "netlify-plugin-checklinks"

    [plugins.inputs]
      checkExternal = false

[[plugins]]
  package = "netlify-plugin-html-validate"

    [plugins.inputs]
      ext = "html"
      config = ".htmlvalidate.json"

[[plugins]]
  package = "netlify-plugin-hugo-cache-resources"

[[plugins]]
  package = "netlify-plugin-minify-html"

    [plugins.inputs]
    contexts = [
      'production'
    ]

    [plugins.inputs.minifierOptions]
    collapseBooleanAttributes = true
    decodeEntities = true
    preserveLineBreaks = true
    removeAttributeQuotes = true
    removeComments = true
    removeEmptyAttributes = true
    removeOptionalTags = true
    removeRedundantAttributes = true
    removeScriptTypeAttributes = true
    removeTypeLinkTypeAtttributes = true
    useShortDocType = true

[dev]
  command = "hugo server -s exampleSite --poll 700ms -b http://localhost:8888/"
