{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
  {{- if site.Params.search }}
  {{ print "<!-- [html-validate-disable-next input-missing-label] -->" | safeHTML }}
  <input id="search" type="text" placeholder="{{ T "search_placeholder" }}" aria-label="{{ T "search_aria_label" }}" />
  {{- end }}
  <ul class="patterns-list" id="list">
      {{- range .Pages.ByPublishDate.Reverse }}
      <li class="post-list">
          <div class="post-entry">
              <div class="entry-header">
                  <h2>
                      <a href="{{ .RelPermalink }}">
                          {{- partial "cover.html" (dict "cxt" . "isThumbnail" (default  false (.Param "thumbnailInList"))) }} <span class="entry-title">{{ .Title }}</span>
                      </a>
                  </h2>
              </div>
          </div>
      </li>
      {{- end }}
  </ul>
</main>
{{ end }}