<header class="intro-and-nav">
  <div>
    <div class="intro">
      <a
        class="logo"
        href="{{ .Site.BaseURL }}"
        aria-label="{{ .Site.Title }} home page"
      >
        {{- $logo := resources.Get "images/logo.svg" -}}
        {{- if $logo -}}
          <span class="wrapper-svg" aria-label="{{ site.Params.logoAlt | default "Logo" }}">
          {{ $logo.Content | safeHTML }}
          </span>
        {{- else }}
        <img 
          src="{{ "images/logo.svg" | relURL }}" 
          alt="{{ .Site.Params.logoAlt | default "Logo" }}">
        {{- end }}
      </a>
      <p class="library-desc">
        {{- with .Site.Params.description }}{{ . | markdownify }}{{ end -}}
      </p>
    </div>
    {{ partial "nav.html" . }}
    {{- if eq .Site.Params.moveFooterToHeader true }}
      {{- partial "footer.html" . }}
    {{- end }}
  </div>
</header>
